* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}


main {
    height: 100%;
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-body{
    background-color: #1f2937;
    height: 87vh;
    width: 25vw;
    border-radius: 20px;
}

#display{
    height: 25vh;
    /* background-color: aliceblue; */
    width: 100%;
    
    
}
#input-field{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    
}
#input-field input{
    height:15vh;
    width: 21vw;
    border-radius: 10px;
    border:none;
    background-color:#111827;
    color:white;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}
#input-field input::-webkit-inner-spin-button{
    appearance:none;
}

#display h1{
    font-size: 25px;
    color:white;
   margin-top: 10px;
   margin-left: 20px;
}


  #bottom{
    height:55%;
    width: 100%;
    /* background-color: antiquewhite; */
  }
  #bottom2{
    height:15%;
    width: 100%;
    /* background-color: antiquewhite; */
  }
  #bottom2{
    display: grid;
    grid-template-columns: 150px 65px 65px;
    grid-template-rows: 65px;
    justify-content: space-evenly;
    
  }
  .calbutton2{
    
    border-radius: 10px;
  }

#bottom{
    /* padding:3px 3px; */
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 65px 65px 65px 65px;
    justify-content: space-evenly;
    align-content: space-evenly;
    
   
}



.calbutton{
    border-radius: 10px;
}