* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f1f3f4;
    padding:15px;
}

main{
    height:85%;
    width: 98%;
    background-color: rgb(255, 255, 255);
    
}
nav{
    height:15%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
nav h1{
    height:fit-content;
    
   font-size: 40px;
   
    
}

.filters button{
    padding:10px 15px;
    border-radius: 25px;
    margin: 20px 10px 0px 10px;
    background-color:rgb(137, 191, 249);
    border: none;
    font-weight: 500;
    
    
}
.filters button:first-child{
    padding:10px 25px;
    
    
}
.activated {
    background-color:rgb(143, 238, 184) !important;
    
}

.notactivated{
     background-color:rgb(137, 191, 249) !important;
}
#input{
    width: 100%;
    height: 15%;
    /* background-color: blueviolet; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 20px;

}
#Task{
     height: 30%;
    width: 50%;
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: 600;
}
#Task2{
    height: 60%;
    width: 50%;
    /* background-color: rgb(139, 9, 44); */
    display: flex;
    position: relative;

}

#Task2 input{
    height: 100%;
    width: 90%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #c9cacd;
    text-indent: 20px;
    color: black;
    font-size: 20px;
}

#Task2 input::placeholder{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
}

#addbutton{
    padding: 6px 20px;
    background-color: rgb(13, 30, 212);
    color: white;
    font-size: 28px;
    font-weight: 600;
    border-radius: 6px;
    position: absolute;
    right: 2%;
    
   
}
#Tasks{
    width:100%;;
    height:56%;
    /* background-color: aquamarine; */
    
}
#Tasks2{
    width: 100%;
    height:80%;
    /* background-color: aqua; */
}
#Tasks h1,#Tasks2 h1{
    width: 45%;
    display: flex;
    justify-self: center;
    font-size: 40px;
    margin-top: 30px;
}
#Tasks i,#Tasks2 i{
    font-size: 230px;
    display: flex;
    justify-self: center;
    color: #c9cacd;
}

#Tasks h2,#Tasks2 h2{
    width: 45%;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 40px;
    margin-top: 30px;

}
#Tasks h2 input[type="checkbox"],#Tasks2 h2 input[type="checkbox"]{
    height:30px;
    width:30px;
    margin-right:10px;
    margin-top: 2px;
    border-radius: 50%;
    margin-left: 13px;
}

.checkboxicon{
    appearance:none;
    -webkit-appearance:none;

    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid black;
    
}

.checkboxicon:checked::after{
    content:"✔️";
    display:block;
    font-size: 20px;
    text-align: center;

}
#Tasks span h2,#Tasks2 span h2{
    height:auto;
    width: 50%;
    background-color: rgb(252, 252, 252);
    padding:6px 0px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
}
#Tasks::-webkit-scrollbar,#Tasks2::-webkit-scrollbar{
width:5px;
}
#Tasks,#Tasks2{
 
 
 overflow-y: scroll;
}
.inactive{
    display:none !important;
}
@media (max-width:690px) {
    nav h1{
    height:fit-content;
    
   font-size: 30px;
   
    
}
#input{
    width: 100%;
    height: 15%;
    /* background-color: blueviolet; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 20px;

}
#Task{
     height: 30%;
    width: 90%;
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: 600;
}
#Task2{
    height: 60%;
    width: 90%;
    /* background-color: rgb(139, 9, 44); */
    display: flex;
    position: relative;

}

#Task2 input{
    height: 100%;
    width: 90%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #c9cacd;
    text-indent: 20px;
    color: black;
    font-size: 20px;
}




#Tasks{
    width:100%;;
    
    
}
#Tasks h1{
    width: 90%;
    display: flex;
    justify-self: center;
    font-size: 30px;
    margin-top: 30px;
}
#Tasks i{
    font-size: 130px;
    display: flex;
    justify-self: center;
    color: #c9cacd;
}
    
}
